<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PrimaryApiUrl" value="http://example.com/api" />
    <add key="FallbackApiUrl" value="http://fallback.com/api" />
    <add key="TimerInterval" value="1000" />
    <add key="MaxRetries" value="3" />
  </appSettings>
</configuration>